<h1> Personal phonebook </h1>

<h3> Keep track of your contacts </h3>

<form action ="/contacts" method="post">
  <label for="name"> Contact's First and Last name:</label>
  <input id="name" name="name" type="text"

  <label for"number"> Contact's phone number:</label>
  <input id="number" name"number" type="integer">
  <button type="submit">Add Contact</button>
</form>

<p> <% @all_contacts %>
